.button {
	@apply flex items-center justify-center
		border rounded shadow;
}

.button-filled {
	@apply bg-primary border-primary text-light
		hover:bg-primary-dark hover:border-primary-dark
		dark:bg-secondary dark:border-secondary dark:text-dark
		dark:hover:bg-secondary-dark dark:hover:border-secondary-dark;
}

.button-outline {
	@apply bg-light border-primary text-dark hover:bg-primary hover:text-light
		dark:bg-dark dark:border-secondary dark:text-light dark:hover:bg-secondary dark:hover:text-dark;
}

.button-inverted {
	@apply bg-secondary border-secondary text-dark
		hover:bg-secondary-dark hover:border-secondary-dark
		dark:bg-primary dark:border-primary dark:text-light
		dark:hover:bg-primary-dark dark:hover:border-primary-dark;
}

.button-xs {
	@apply font-semibold text-xs m-1 px-1 py-1;

	.button-icon {
		@apply text-base;
	}
}

.button-sm {
	@apply font-semibold text-sm m-1 px-2 py-1;

	.button-icon {
		@apply text-base;
	}
}

.button-md {
	@apply font-semibold text-base m-1 px-3 py-2;

	.button-icon {
		@apply text-lg;
	}
}

.button-lg {
	@apply font-bold text-xl m-1 px-4 py-3;

	.button-icon {
		@apply text-2xl;
	}
}
