.button {
	@apply flex items-center justify-center
		border rounded shadow;
}

.button-filled {
	@apply bg-action border-action text-white
		hover:bg-action-accent hover:border-lightless;
}

.button-outline {
	@apply bg-light border-primary text-black
		hover:bg-primary hover:text-white
		dark:bg-dark dark:border-white dark:text-white
		dark:hover:bg-white dark:hover:text-primary;
}

.button-danger {
	@apply bg-danger border-danger text-white
		hover:bg-white hover:text-danger;
}

.button-none {
	@apply border-none shadow-none text-action-accent hover:text-black dark:hover:text-white;
}

.button-inverted {
	@apply bg-secondary border-secondary text-dark
		hover:bg-secondary hover:border-secondary
		dark:bg-primary dark:border-primary dark:text-light
		dark:hover:bg-primary dark:hover:border-primary;
}

.button-xs {
	@apply font-semibold text-xs m-1 px-1 py-1;

	.button-icon {
		@apply text-base;
	}
}

.button-sm {
	@apply font-semibold text-sm m-1 px-2 py-1;

	.button-icon {
		@apply text-base;
	}
}

.button-md {
	@apply font-semibold text-base m-1 px-3 py-2;

	.button-icon {
		@apply text-lg;
	}
}

.button-lg {
	@apply font-bold text-xl m-1 px-4 py-3;

	.button-icon {
		@apply text-2xl;
	}
}
