.navigation-header {
	@apply fixed top-0 left-0 h-20 w-full
		flex justify-center items-center;

	.navigation-bar {
		@apply flex justify-start items-center h-14 w-full z-40 rounded-xl
			bg-lighter dark:bg-darker
			border-0 dark:border dark:border-darkless
			shadow-xl dark:shadow-none;

		width: calc(100% - 2rem);
	}
}

.navigation-bar-left {
	@apply flex justify-start items-center cursor-pointer;

	.application-logo {
		@apply h-12 w-auto mx-4;
	}

	.application-name {
		@apply hidden sm:inline-block font-brand font-medium text-3xl lowercase pb-1
			text-primary dark:text-white;
	}
}

.navigation-bar-right {
	@apply flex justify-start items-center ml-auto mr-4;

	.profile-menu {
		@apply flex justify-end items-center gap-2 h-14 px-3
			rounded cursor-pointer
			hover:bg-lightless dark:hover:bg-darkless;

		.profile-image {
			@apply h-10 w-10;
		}

		.profile-information {
			@apply hidden md:flex flex-col justify-center items-end;

			.profile-name {
				@apply font-semibold;
			}

			.profile-username {
				@apply text-sm italic;
			}
		}
	}
}

.profile-menu-overlay {
	@apply fixed right-8 z-50 p-2 w-36 rounded-lg shadow-lg
		bg-lightless dark:bg-darkless flex flex-col gap-1;

	top: 4.25rem;

	.profile-menu-item {
		@apply w-full m-0 rounded shadow-none;
	}
}
